@page "/"
@inject HttpClient Http
@using Blazored.Js
    <div class="container">
        <div class="row text-center">
            <div class="col-sm">
                <h2>Blazorships - a battleships implementation</h2>
                <p>Built using Blazor and SignalR</p>
                <p>Check out the code on <a href="https://github.com/bjorndaniel/Blazorships">GitHub</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <form class="form-inline justify-content-center">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="userName" class="sr-only">Username:</label>
                        <input type="text" class="form-control" id="userName" placeholder="Username" bind="@PlayerName" disabled="@(!CurrentGame.SpotAvailable)" />
                    </div>
                    <button type="button" class="btn btn-primary mb-2" id="btnPlay" disabled="@(!CurrentGame.SpotAvailable)">Play game</button>
                    <input type="hidden" bind="@Player.Id" id="playerId" />
                    <input type="hidden" bind="@CurrentGame.Id" id="gameId" />
                    <input type="hidden" bind="@SelectedRow" id="hfSelectedRow" />
                    <input type="hidden" bind="@SelectedColumn" id="hfSelectedColumn" />
                </form>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>
        <div class="row">
            <div class="col-sm text-center">
                <h4>Your ships</h4>

                <table class="ship-board">
                    @for (int i = 1; i <= 10; i++)
                    {
                        <tr>
                            @for (int j = 1; j <= 10; j++)
                            {
                                <td class="ship-tile @(Player.GameBoard.Panels.First(_ => _.Coordinates.Row == i && _.Coordinates.Column == j).IsHit ? "red" : "")">
                                    <div style="width:35px;height:35px;">@Player.GameBoard.Panels.First(_ => _.Coordinates.Row == i && _.Coordinates.Column == j).Status</div>
                                </td>
                            }
                        </tr>
                    }
                </table>

            </div>
            <div class="col-sm text-center">
                <h4>Firing board</h4>
                <table class="ship-board">
                    @for (int i = 1; i <= 10; i++)
                    {
                        <tr>
                            @for (int j = 1; j <= 10; j++)
                            {
                                var square = new Coordinates { Row = i, Column = j };
                                <td class="ship-tile @(Player.FiringBoard.Panels.First(_ => _.Coordinates.Row == i && _.Coordinates.Column == j).Status == "X" ? "green" : "")">
                                    <div style="width:35px;height:35px;" class="@((SelectedRow == i && SelectedColumn == j) ? "yellow" : "")"
                                         onclick="@(() => SelectFiringSquare(square))">@Player.FiringBoard.Panels.First(_ => _.Coordinates.Row == i && _.Coordinates.Column == j).Status</div>
                                </td>
                            }
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm text-center">
                <p>When it is your turn, click on an empty square on the firing board and press fire</p>
                <br />
                <button class="btn btn-danger" disabled="@(!Player.IsMyTurn)" id="btnFire">Fire!</button>
                <button class="btn btn-primary" id="btnEnd">Let the server play to end</button>
                <h4>@CurrentGame.StatusText</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm text-center">
                <h3>Chat with opponent</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm text-center">
                <form class="form-inline justify-content-center">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="message" class="sr-only">Message:</label>
                        <input type="text" class="form-control" id="messageInput" placeholder="Type your message here" />
                    </div>
                    <input type="button" class="btn btn-success mb-2" id="sendButton" value="Send Message" />
                    <input type="button" class="btn btn-success" id="btnUpdateGame" style="display:none;" value="" onclick="@UpdateGame" />
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>

    @functions
    {
        public int SelectedRow { get; set; } = -1;
        public int SelectedColumn { get; set; } = -1;
        string PlayerName { get; set; }
        Game CurrentGame { get; set; }
        Player Player { get; set; }
        string StartGameId { get; set; }
        protected override void OnInit()
        {
            CurrentGame = new Game();
            Player = CurrentGame.Player1;
        }
        protected override void OnAfterRender()
        {
            JsInterop.InitChat();
        }

        void SelectFiringSquare(Coordinates selectedSquare)
        {
            Console.WriteLine($"Clicked on {selectedSquare.Row} {selectedSquare.Column}");
            var panel = Player.FiringBoard.Panels.FirstOrDefault(_ => _.Coordinates.Row == selectedSquare.Row && _.Coordinates.Column == selectedSquare.Column);
            if(panel == null || panel.Status != " ")
            {
                return;
            }
            SelectedRow = selectedSquare.Row;
            SelectedColumn = selectedSquare.Column;
        }

        async Task UpdateGame()
        {
            var gameId = LocalStorage.Get<GameDTO>("CurrentGameId");
            Console.WriteLine($"Updating game {gameId}");
            var game = await Http.GetJsonAsync<Game>($"/api/Game/UpdateGame?gameid={gameId.Id}");
            var player = game.GetPlayerByName(PlayerName);
            SelectedColumn = -1;
            SelectedRow = -1;
            if(player != null)
            {
                Player = player;
                CurrentGame = game;
            }
            if (CurrentGame.GameOver)
            {
                JsInterop.Alert(CurrentGame.StatusText);
            }
        }
    }